*{
    padding: 0;
    margin: 0px;
    font-family: sans-serif;
}



#main {
    max-width: 400px;
    background-color: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 20px;
}

#header {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    top: 10px;
}
i.fa.fa-pause-circle,
i.fa.fa-play-circle {
    font-size: 41px;
    top: 0;
    margin-top: -13px;
}

.header_img {
    padding: 20px;
    width: 180px;
    border-radius: 221px;
    height: 180px;
    
    animation: around 3s infinite linear;
    animation-play-state: paused;

 }

.control_audio {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

i.fa.fa-pause-circle.display-none {
    display: none;
}

i.fa.fa-play-circle.display-none {
    display: none;
}

#wrapper {
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 20px;
    height: 400px;
    overflow-y: auto;
    /* opacity: ; */
}

.track {
    max-width: 100%;
    height: 60px;
    background-color: #AAAAAA		;
    margin: 5px 10px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    /* justify-content: space-around; */
    
}
.track:hover {
    opacity: 0.8;
    cursor: pointer;
}

img.track__img {
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 9px;
    margin-left: 10px;
    flex: 0;
}

.track__infor {
    flex: 1;
    margin: 18px;
}

.track__time {
    flex: 0;
    margin-right: 10px;
    font-size: 13px;
    opacity: 0.7;
}

p.track__infor-singer {
    font-size: 11px;
    opacity: 0.7;
    margin-top: 6px;
}

/*//////////////////////////////////*/
    /* animation: around 3s infinite linear; */
    /* transition: all 10s linear; */
    /* margin-bottom: 20px; */
    /* animation-play-state: paused; */
@keyframes around {
    0%  {transform:rotate(0deg);}
    50%  {transform:rotate(180deg);}
    100%  {transform:rotate(360deg);}
}
/*//////////////////////////////////*/